/* --------------------- Entire Webpage -------------------- */
* {
  font-family: serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  cursor: none;
}

/* ------------------------ BODY ---------------------------- */
body {
  background: rgb(32, 32, 32);
}

/* -------------------------LOADER PAGE ------------------------ */
/* CONTAINER AROUND LOADER CONTENT */
.div-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.static-container {
  background: repeating-linear-gradient(
    rgb(32, 32, 32),
    rgb(32, 32, 32) 80%,
    rgb(100, 100, 100) 20%,
    rgb(100, 100, 100)
  );
  background-size: 5px 5px;
  filter: url(#noise);
  height: 100%;
  width: 100%;
  animation: staticBlink 0.04s linear 0.84s;
}

@keyframes staticBlink {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader-images {
  background: rgb(32, 32, 32);
  position: absolute;
  height: 100vh;
  object-fit: cover;
  animation: staticBlink 0.13s linear 1.1s;
}

@keyframes imgBlink {
  50% {
    opacity: 0;
  }
}

/* DYNAMIC CONTENT #3 */
.dynamic-3 {
  position: absolute;
  color: whitesmoke;
  font-weight: bolder;
  width: 0;
  margin-top: 40px;
  font-size: 1.65rem;
  overflow: hidden;
  white-space: nowrap;
  animation: pretyping3 0.3s steps(50) forwards 1.2s;
  position: absolute;
  /* cursor: default; */
}

@keyframes pretyping3 {
  from {
    width: 0;
  }
  to {
    width: 8ch;
  }
}

/* ------------------------- HOME PAGE -------------------------*/
/* HOME PAGE CONTAINER */
.container {
  background: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-areas: "homeImg homeNav";
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  position: relative;
  /* FOR LOADER */
  opacity: 1;
  display: none;
  animation: homeOpacity 2s ease;
}

@keyframes homeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#homeImg {
  grid-area: homeImg;
  position: absolute;
  height: 100%;
  border-right: 0.35rem solid rgb(32, 32, 32);
  background-color: rgb(32, 32, 32);
}

#homeImg img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.home-nav-inner {
  grid-area: homeNav;
  display: flex;
  align-items: center;
}

/* REMOVE BULLET POINTS FROM UL */
.home-ul {
  list-style: none;
  text-align: center;
}

/* COMPANY NAME HEADER */
.home-header {
  font-size: 1.15rem;
  /* font-size: clamp(0.75rem, 0.5rem + 2.5vw, 5rem); */
  position: relative;
  overflow: hidden;
  width: max-content;
  margin: 0 auto;
  border-right: 0.15rem solid rgb(46, 77, 46);
  white-space: nowrap;
  animation: typewriter 3s steps(28) forwards, blink 0.9s infinite;
}

/* TYPING ANIMATION */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(46, 77, 46);
  }
}

/* TEXT WITHIN COMPANY NAME HEADER */
.home-header a {
  text-decoration: none;
  color: rgb(46, 77, 46);
  font-size: 1.8rem;
}

/* NAVIGATION - DISPLAY INLINE-BLOCK CREATES BOX BORDER SHAPE */
.home-nav {
  display: inline-block;
  text-align: center;
  padding: 2%;
  margin-bottom: 3%;
}

/* REMOVE OTHER OPTIONS ON HOVER */
/* .home-nav:hover > * {
  opacity: 0;
  transition: 0.6s ease;
}

.home-nav:hover > *:hover {
  opacity: 1;
} */

.home-nav li:nth-of-type(1) {
  animation: bounce-1 18s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes bounce-1 {
  0% {
    transform: translate(163%, 285%);
  }
  50% {
    transform: translate(119%, 150%);
  }
  70% {
    transform: translate(179%, 156%);
  }
  100% {
    transform: translate(163%, 285%);
  }
}

.home-nav li:nth-of-type(2) {
  animation: bounce-2 18s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes bounce-2 {
  0% {
    transform: translate(-199%, 130%);
  }
  30% {
    transform: translate(-70%, 25%);
  }
  50% {
    transform: translate(52%, 195%);
  }
  70% {
    transform: translate(110%, 100%);
  }
  100% {
    transform: translate(-199%, 130%);
  }
}

.home-nav li:nth-of-type(3) {
  animation: bounce-3 18s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes bounce-3 {
  0% {
    transform: translate(-214%, -235%);
  }
  30% {
    transform: translate(-95%, -120%);
  }
  50% {
    transform: translate(37%, -49%);
  }
  70% {
    transform: translate(-83%, 95%);
  }
  100% {
    transform: translate(-214%, -235%);
  }
}

/* TEXT WITHIN NAVIGATION */
.home-nav a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  position: relative;
  font-weight: lighter;
  font-size: 1.05rem;
}

/* NAVIGATION TEXT HOVER */
.home-nav a::before {
  content: "";
  position: absolute;
  background: rgba(46, 77, 46, 0.7);
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 40%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 350ms ease;
}

/* .home-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
} */

/* ------------------------- ABOUT PAGE ---------------------- */
/* ABOUT PAGE CONTAINER */
.about-contained {
  background: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-areas: "homeNav mainContent otherNav" "space1 currentNav space2";
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 85% 15%;
  /* For Loader */
  animation: ctaOpacity 3s ease;
}

@keyframes ctaOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* POSITION/DISPLAY IMAGE CONTAINER */
.img-contained {
  grid-area: mainContent;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-inner {
  position: relative;
  width: 70%;
}

/* ABOUT IMAGE */
.about-img {
  display: block;
  width: 100%;
  box-shadow: 2.5px 2.5px 20px rgba(32, 32, 32, 0.8);
}

/* POSITION/HIDE TEXT CONTAINED INSIDE IMAGE */
.text-contained {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* TEXT CONTAINED HOVER/CLICK EFFECT */
/* .text-contained:hover,
.text-contained:active {
  opacity: 1;
} */

.textContainedOpacity {
  opacity: 1;
}

/* STYLING FOR NAME/CONTACT */
.text-contained a {
  font-size: 1.4rem;
  color: whitesmoke;
}

.currentNavContainer {
  grid-area: currentNav;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  height: 100%;
  overflow: hidden;
}

.currentNavContainer h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.currentNavContainer a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  /* font-size: 6.5rem; */
  font-size: clamp(2rem, 3rem + 5vw, 6.5rem);
  font-weight: lighter;
}

.homeNavContainer {
  grid-area: homeNav;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homeNavContainer a {
  text-decoration: none;
  color: rgb(46, 77, 46);
  font-size: 1.25rem;
  font-weight: lighter;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.homeNavContainer h1 {
  position: relative;
  transition: 350ms ease;
}

.homeNavContainer a::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 15%;
  width: 40%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 350ms ease;
}

/* .homeNavContainer a:hover::before {
  transform: scaleY(1);
  transform-origin: top;
} */

.otherNavContainer {
  grid-area: otherNav;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* REMOVE OTHER OPTIONS ON HOVER */
/* .otherNavInner:hover > * {
  opacity: 0;
}

.otherNavInner:hover > *:hover {
  opacity: 1;
} */

.otherNavInner h1 {
  position: relative;
  transition: 350ms ease;
}

.otherNavContainer a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: 1.25rem;
  font-weight: lighter;
  writing-mode: vertical-rl;
}

.otherNavInner a::before {
  content: "";
  position: absolute;
  background: rgba(46, 77, 46, 0.7);
  top: 0;
  left: 15%;
  width: 40%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 350ms ease;
}

/* .otherNavInner a:hover::before {
  transform: scaleY(1);
  transform-origin: top;
} */

/* ------------------------------ THOUGHTS PAGE ---------------------------------- */
.thoughts-contained {
  background: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-areas: "homeNav mainContent otherNav" "space1 currentNav space2";
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 85% 15%;
  /* For Loader */
  animation: ctaOpacity 3s ease;
}

.thoughts-box {
  grid-area: mainContent;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.thoughts-box::-webkit-scrollbar {
  display: none;
}

.thoughts-nav {
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 10px 15px 10px;
}

/* ------- FILTER BUTTON ------- */
.thoughts-nav input:nth-child(1) {
  width: 100px;
  background: whitesmoke;
  color: rgb(32, 32, 32);
  border-bottom: 2px solid rgb(32, 32, 32);
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 2px;
}

.thoughts-nav input:nth-child(1):focus {
  outline: none;
}

.blog-contained {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.open-button {
  height: 100px;
  width: 100px;
  margin: 20px;
  /* cursor: pointer; */
  color: rgb(32, 32, 32);
  background-color: whitesmoke;
  border: 1.5px solid whitesmoke;
}

/* .open-button:hover {
  font-style: italic;
} */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 85%;
  margin: 0 auto;
  max-height: 100%;
  overflow-y: auto;
  transform: scale(0);
  background: whitesmoke;
  color: rgb(32, 32, 32);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}

.modal.active {
  transform: scale(1);
}

.modal.active::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: whitesmoke;
  color: rgb(32, 32, 32);
  padding: 15px;
  border-bottom: 1.5px solid rgb(32, 32, 32);
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  /* cursor: default; */
}

.close-button {
  /* cursor: pointer; */
  padding: 2.5px;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  color: rgb(32, 32, 32);
  font-size: 1.5rem;
}

/* ---------------------------- THOUGHTS POSTS -------------------------- */
/* ---------------------- OPTIMISM X HEALTH ----------------- */
.optimism {
  padding: 10px 20px;
  /* cursor: default; */
}

.optimism a {
  font-weight: bold;
  color: rgb(32, 32, 32);
  text-decoration: none;
  font-style: italic;
}

/* .optimism a:hover {
  background: rgb(32, 32, 32);
  color: whitesmoke;
} */

.optimism p {
  padding-top: 10px;
  line-height: 1.4;
  color: rgb(90, 90, 90);
}

.optimism-header {
  list-style: none;
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
}

#optimism-health-statistics {
  padding-bottom: 15px;
}

.opt-stats {
  list-style: none;
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

.optimism-title {
  font-style: italic;
}

/* ------------------ THE NORDIC COUNTRIES --------------- */
.nordic {
  padding: 10px 20px;
  /* cursor: default; */
}

.nordic a {
  font-weight: bold;
  color: rgb(32, 32, 32);
  text-decoration: none;
  font-style: italic;
}

/* .nordic a:hover {
  background: rgb(32, 32, 32);
  color: whitesmoke;
} */

.nordic li {
  list-style: none;
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
}

.nordic p {
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

.nordic a > p {
  margin-bottom: 10px;
  color: rgb(32, 32, 32);
  text-decoration: none;
  display: inline;
  /* cursor: pointer; */
}

/* .nordic a > p:hover {
  background: rgb(32, 32, 32);
  color: whitesmoke;
  width: max-content;
} */

.nordic-conclusion {
  padding-top: 15px;
}

.nordic-book {
  font-style: italic;
}

/* ------------------ STEVE JOBS -------------------- */
.steve-jobs {
  padding: 10px 20px;
  /* cursor: default; */
}

.steve-jobs a {
  font-weight: bold;
  color: rgb(32, 32, 32);
  text-decoration: none;
  font-style: italic;
}

/* .steve-jobs a:hover {
  background: rgb(32, 32, 32);
  color: whitesmoke;
} */

.steve-jobs li {
  list-style: none;
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
}

.steve-jobs p {
  padding-top: 15px;
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

/* -------------------- DIET X LIFESPAN --------------- */
.diet-lifespan {
  padding: 10px 20px;
  /* cursor: default; */
}

.diet-lifespan a {
  font-weight: bold;
  color: rgb(32, 32, 32);
  text-decoration: none;
  font-style: italic;
}

/* .diet-lifespan a:hover {
  background: rgb(32, 32, 32);
  color: whitesmoke;
} */

.diet-lifespan ul {
  list-style: none;
}

.diet-lifespan li {
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

.diet-lifespan p {
  padding-top: 15px;
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

/* ------------------- WU WEI ---------------------- */
.wu-wei {
  padding: 10px 20px;
  /* cursor: default; */
}

.wu-wei h3 {
  font-style: italic;
}

.wu-wei p {
  padding-top: 15px;
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

/* ---------- THE BLUE ZONES SOLUTION --------------- */

.blue-zones {
  padding: 10px 20px;
  /* cursor: default; */
}

.blue-zones p {
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

.blue-zones h3 {
  padding-top: 15px;
  font-style: italic;
}

.blue-zones ul {
  list-style: none;
}

.blue-zones li {
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

.blue-zones-book {
  font-style: italic;
}
/* ---------- COVID-19 X FOOD CONSUMPTION ----------- */
.covid-19-food-consumption a > h3 {
  margin-top: 10px;
  color: rgb(32, 32, 32);
  text-decoration: none;
  display: inline-block;
  font-style: italic;
  /* cursor: pointer; */
}

/* .covid-19-food-consumption a > h3:hover {
  background: rgb(32, 32, 32);
  color: whitesmoke;
} */

.covid-19-food-consumption p {
  margin: 10px 20px;
  /* cursor: default; */
  line-height: 1.4;
  color: rgb(80, 80, 80);
}

.superlife-book {
  font-style: italic;
}

/* ------------------------------ CONCEPTS PAGE ---------------------------------- */
.concepts-contained {
  background: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-areas: "homeNav mainContent otherNav" "space1 currentNav space2";
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 85% 15%;
  /* For Loader */
  animation: ctaOpacity 3s ease;
}

.main-concepts {
  grid-area: mainContent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept-placeholder {
  /* font-size: 10rem; */
  font-size: clamp(3rem, 1rem + 10vw, 8rem);
  text-align: center;
  /* cursor: default; */
}

/* ------------------ CURSOR -------------------- */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgb(32, 32, 32);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* ---------- MEDIA QUERIES -------- */
/* FINGER PRIMARY SOURCE, NOT MOUSE */
@media (any-pointer: coarse) {
  .cursor {
    display: none;
  }
  body {
    overscroll-behavior: none;
  }
/*   .thoughts-box {
    overscroll-behavior: contain;
  }
  .modal {
    overscroll-behavior: contain;
  } */
}

/* CHANGE GRID DEPENDING ON WIDTH SIZE */
@media (max-width: 355px) {
  .container {
    display: grid;
    grid-template-areas: "homeNav";
    grid-template-columns: 100%;
  }

  #homeImg {
    display: none;
  }
}

/* HOVER FOR DEVICES THAT CAN ONLY HOVER */
@media (hover: hover) {
  .home-nav:hover > * {
    opacity: 0;
    transition: 0.6s ease;
  }

  .home-nav:hover > *:hover {
    opacity: 1;
  }

  .text-contained:hover {
    opacity: 1;
  }

  .home-nav a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  .homeNavContainer a:hover::before {
    transform: scaleY(1);
    transform-origin: top;
  }

  .otherNavInner:hover > * {
    opacity: 0;
  }

  .otherNavInner:hover > *:hover {
    opacity: 1;
  }

  .otherNavInner a:hover::before {
    transform: scaleY(1);
    transform-origin: top;
  }

  .open-button:hover {
    font-style: italic;
  }

  .optimism a:hover {
    background: rgb(32, 32, 32);
    color: whitesmoke;
  }

  .nordic a:hover {
    background: rgb(32, 32, 32);
    color: whitesmoke;
  }

  .nordic a > p:hover {
    background: rgb(32, 32, 32);
    color: whitesmoke;
    width: max-content;
  }

  .steve-jobs a:hover {
    background: rgb(32, 32, 32);
    color: whitesmoke;
  }

  .diet-lifespan a:hover {
    background: rgb(32, 32, 32);
    color: whitesmoke;
  }

  .covid-19-food-consumption a > h3:hover {
    background: rgb(32, 32, 32);
    color: whitesmoke;
  }
}

/* @media (orientation: landscape) and (max-width: 500px) {
  .img-inner {
    width: 30%;
  }
} */

@media (orientation: landscape) and (max-width: 1000px) {
  .img-inner {
    width: 30%;
  }
}

@media (orientation: landscape) and (min-width: 1001px) {
  .img-inner {
    width: 40%;
  }
}

@media (orientation: landscape) and (min-width: 1100px) {
  .img-inner {
    width: 50%;
  }
}
